  <div class="container">

    <form id="signup">

        <div class="header">
        
            <h3>LOGIN!</h3>
            
            <p>fill out your info!</p>
            
        </div>
        
        <div class="sep"></div>

        <div class="inputs">
        
            <input type="email" name="email" placeholder="E-mail" autofocus />
        
            <input type="password" name="password" placeholder="Password" /> 

            <input type="submit" value="submit">
        </div>
    </form>
</div>