    <form method="POST" action="/movies/create">

    <label for="name">Name: </label>
    <input type="text" name="name" id="name" placeholder="Enter movie name ..."><br>
    
    <label for="date_released">Date Released: </label>
    <input type="text" name="date_released" id="date_released"<br>
    
    <label for="rating">Rating: </label>
    <input type="text" name="rating" id="rating"<br>
    
    <label for="run_time">Run Time: </label>
    <input type="text" name="run_time" id="run_time"<br>

    <label for="genre">Genre: </label>
    <input type="text" name="genre" id="genre"<br>

    <label for="body">Text Body: </label>
    <textarea name="summary" rows="3" cols="80"></textarea><br>

    <label for="director">Director: </label>
    <input type="text" name="director" id="director"
    <br>

    <label for="writers">Writers: </label>
    <input type="text" name="writers" id="writers"
    <br>

    <label for="stars">Stars: </label>
    <input type="text" name="stars" id="stars"
    <br>

    <input type="submit" value="Post Movie">
</form>